
*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url('fundo.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    background-color: #7b7a7a7e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
}

.form-container{
    background-color: #172b52;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(111, 109, 109, 0.1);
    width: 100%;
    max-width: 400px;
}

h1{
    text-align: center;
    margin-bottom: 20px; 
    color: #f6ecec;
    font-family: serif;
}

.input-group{
    margin-bottom: 13px;
}

.input-group label{
    display: block; 
    margin-bottom: 5px;
    color:   #f8f6f6;
}

.input-group input, .input-group select{
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #cdcdcd;
    border-radius: 4px; 
}


.input-group input:focus, .input-group select:focus{
    border-color: #fafbfe;
    outline: none;
}
.submit-btn{
    width: 100%;
    padding: 12px;
    background-color: #5e6060;
    color: #f8f1f1;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
.submit-btn:hover{
    background-color: #515254;
}

.input-group input[type="checkbox"]{
    width: auto;
    margin-right: 8px;
}

a{
    color: #85878a;
    text-decoration: none;
}

a:hover{
    text-decoration: underline; 
}


.logo {
    display: flex;
    justify-content: center; 
    margin-bottom: 15px;     
}

.logo img {
    width: 130px;
    height: auto;            
    border-radius: 67px; 
}
