/* Fonte padrão */
body {
  margin: 0;
  background: #f4f6fa;
  font-family: "Segoe UI", Roboto, sans-serif;
  color: #2d2d2d;
}

/* Logo */
.logo-container {
  text-align: center;
  padding: 20px;
}

/* Barra superior */
.topbar {
  background: #00030885;
  padding: 18px;
  text-align: center;
  color: #f7f7f7;
  font-size: 24px;
  font-weight: bold;
}

.logo-container img {
  height: 140px;
  border-radius: 67px;
}

/* Área principal */
.app {
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* Dashboard */
.dashboard {
  background: #ffffff;
  padding: 30px;
  border-radius: 14px;
  width: 900px;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
}

h1 {
  margin-bottom: 5px;
  font-size: 28px;
}

.subtitle {
  color: #646464;
  margin-bottom: 25px;
}

/* Cards */
.cards {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  flex: 1;
  background: #f8fafc;
  padding: 18px;
  border-radius: 12px;
  text-align: center;
  border: 1px solid #e5e7eb;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-3px);
}

.card h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card .value {
  font-size: 32px;
  font-weight: bold;
  color: #2563eb;
}

/* Card de alerta */
.warning {
  background: #fff5f5;
  border: 1px solid #fca5a5;
}
.warning .value {
  color: #dc2626;
}

/* Tabela */
.table-section h3 {
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table th {
  background: #2563eb;
  color: white;
  padding: 10px;
  text-align: left;
}

table td {
  padding: 10px;
  border-bottom: 1px solid #e5e7eb;
}
