/* Layout geral */
body {
  font-family:serif;
  background: #6b7280;
  margin: 0;
  padding: 0;
}

/* Barra superior */
.topbar {
  background: #00030885;
  padding: 18px;
  text-align: center;
  color: #f7f7f7;
  font-size: 24px;
  font-weight: bold;
}

/* Card central */
.app {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.card {
  background: rgb(247, 247, 247);
  width: 90%;
  max-width: 900px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.subtitle {
  margin-bottom: 15px;
  color: #333;
  font-size: 20px;
}

/* Tabela */
.report-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.report-table th {
  background: #00000093;
  color: white;
  padding: 10px;
  text-align: left;
  font-size: 14px;
}

.report-table td {
  padding: 10px;
  border-bottom: 1px solid #e5e7eb;
}

.report-table tr:hover {
  background: #f1f5fb;
}

/* Ajuste responsivo */
@media (max-width: 600px) {
  .report-table th, .report-table td {
    font-size: 12px;
    padding: 8px;
  }

  .subtitle {
    font-size: 18px;
  }
}
