body {
    font-family: Arial, sans-serif;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.caixa {
    background: rgba(14, 2, 2, 0.719);
    padding: 25px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 0 10px rgba(8, 4, 4, 0.2);
}

h2 {
    text-align: center;
    color: #f8f8f8;
    margin-bottom: 10px;
    font-family: serif;
}

.texto {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
    color: #bebbbbe1;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

label {
    font-size: 14px;
    color: #dbdde4;
}

input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #999;
    background: #f7f7f7;
}

.btn {
    background: #213b92;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.voltar {
    display: block;
    margin-top: 15px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

.voltar:hover {
    text-decoration: underline;
}
