body {
    font-family: Arial, sans-serif;
    background: #f0f0f0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #172554;
}

form {
    width: 90%;
    max-width: 400px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #0003;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    background: #172554;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #0d1e57;
}

.voltar {
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    color: #172554;
    font-weight: bold;
}
